/* Global Styling */

/* dashBoard */
.dashboard {
  height: 100vh;
}

.sideBar,
.navBar {
  background-color: white !important;
}
/* navbar */
.navBar {
  min-height: 6rem !important;
}
/* content */

.content {
  border: 1px solid gainsboron !important;
}
